<html>
<head>
    <title>teachers list</title>
</head>
<body>
<center>
    <h1>Teachers Details Page</h1><hr/>
    <table border="2px">
        <thead>
           <th>id</th>
           <th>name</th>
           <th>subject</th>
           <th>address</th>
           <th>contact</th>
           <th>actions</th>
        </thead>
        {% for s in teachers_list %}
        <tr>
            <td><a href="/teachersdetails/{{s.id}}/">{{s.id}}</a></td>
            <td>{{s.name}}</td>
            <td>{{s.subject}}</td>
            <td>{{s.address}}</td>
            <td>{{s.contact}}</td>
            <td>
             <a href="/teachersupdate/{{s.id}}">Edit</a> &nbsp   <a href="/teachersdelete/{{s.id}}"> Delete </a>
            </td>


        </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>